* {
  box-sizing: border-box;
}

.sd-pj-block, .reel-block, .edu-block, .work-block, .header-block {
  width: 100%;
  border-bottom: 2px solid #ffd9f9;
  padding-bottom: 40px;
  color: #333;
}
.sd-pj-block h1, .reel-block h1, .edu-block h1, .work-block h1, .header-block h1,
.sd-pj-block a,
.reel-block a,
.edu-block a,
.work-block a,
.header-block a {
  color: #2e406f;
  position: relative;
  cursor: pointer;
}
.sd-pj-block a:hover::after, .reel-block a:hover::after, .edu-block a:hover::after, .work-block a:hover::after, .header-block a:hover::after {
  content: attr(data-preview);
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  pointer-events: none;
}
.sd-pj-block h2, .reel-block h2, .edu-block h2, .work-block h2, .header-block h2 {
  font-weight: normal;
}
.sd-pj-block p, .reel-block p, .edu-block p, .work-block p, .header-block p,
.sd-pj-block li,
.reel-block li,
.edu-block li,
.work-block li,
.header-block li {
  color: rgb(85, 85, 85);
}

body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Archivo", "Noto Sans TC", "Noto Sans SC", "Noto Sans HK", "Noto Sans JP", "Noto Sans", "PingFang TC", "Microsoft JhengHei", "PMingLiU", "sans-serif";
}

.block {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1024px;
  width: 100%;
}

.blue-block {
  padding-left: 0;
  padding-right: 0;
  background-color: #2e406f;
  width: 100%;
}

.main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .header-block {
    flex-direction: column;
    align-items: center;
  }
  .header-block .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.header-block .header-img {
  padding-right: 30px;
  padding-top: 30px;
}
.header-block .header-img img {
  max-width: 500px;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 800px) {
  .header-block .header-img img {
    margin-top: 50px;
    max-width: 300px;
  }
}
@media screen and (max-width: 800px) {
  .header-block .header-img {
    padding-right: 0;
    padding-top: 0;
  }
}
.header-block h1 {
  color: #333;
}
.header-block h2 {
  color: #2e406f;
}
.header-block .contact-info-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-block .contact-info-block img {
  width: 20px;
}
.header-block .contact-info-block a {
  padding-right: 5px;
  padding-left: 5px;
}

.work-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .work-block {
    flex-direction: column;
    align-items: center;
  }
}
.work-block .exp-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .work-block .exp-block {
    flex-direction: column;
    align-items: center;
  }
}
.work-block .exp-block .exp-logo {
  padding-right: 30px;
  padding-top: 30px;
}
@media screen and (max-width: 800px) {
  .work-block .exp-block .exp-logo {
    padding-right: 0;
    padding-top: 0;
  }
}
.work-block .exp-block .exp-logo img {
  max-width: 70px;
  width: 100%;
  border-radius: 5%;
  -o-object-fit: cover;
     object-fit: cover;
}
.work-block .exp-block h2 span {
  color: #2e406f;
}
.work-block .exp-block li a {
  font-weight: bold;
}

.edu-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .edu-block {
    align-items: center;
  }
}
.edu-block .uni-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .edu-block .uni-block {
    flex-direction: column;
    align-items: center;
  }
}
.edu-block .uni-block img {
  max-width: 70px;
  width: 100%;
  border-radius: 5%;
  -o-object-fit: cover;
     object-fit: cover;
}
.edu-block .uni-block h2 span {
  display: block;
  color: #2e406f;
}
.edu-block .gra-pj-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .edu-block .gra-pj-block {
    flex-direction: column;
    align-items: center;
  }
}
.edu-block .gra-pj-block iframe {
  padding-left: 10px;
}
@media screen and (max-width: 800px) {
  .edu-block .gra-pj-block iframe {
    aspect-ratio: 16/9;
    height: 300px;
    padding-left: 0;
  }
}
.edu-block .gra-pj-block li span {
  font-weight: bold;
}

.reel-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .reel-block {
    align-items: center;
  }
}
.reel-block .reel-content-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-right: 30px;
  padding-top: 30px;
}
@media screen and (max-width: 800px) {
  .reel-block .reel-content-block {
    flex-direction: column;
    padding-right: 0;
    padding-top: 0;
  }
}
.reel-block .reel-content-block .reel-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .reel-block .reel-content-block .reel-content {
    flex-direction: column;
    align-items: center;
  }
  .reel-block .reel-content-block .reel-content h2 {
    text-align: center;
  }
}
.reel-block .reel-content-block .reel-content .reel-img {
  padding-right: 15px;
}
@media screen and (max-width: 800px) {
  .reel-block .reel-content-block .reel-content .reel-img {
    padding-right: 0;
  }
}
.reel-block .reel-content-block .reel-content .reel-img img {
  max-width: 500px;
  width: 100%;
  border-radius: 0%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 800px) {
  .reel-block .reel-content-block .reel-content .reel-img img {
    max-height: 300px;
  }
}
.reel-block .reel-content-block .reel-content h2 {
  margin: 0 auto;
}

.sd-pj-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-bottom: none;
}
@media screen and (max-width: 800px) {
  .sd-pj-block {
    align-items: center;
  }
}
.sd-pj-block .sd-pj-content-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 800px) {
  .sd-pj-block .sd-pj-content-block {
    flex-direction: column;
  }
}
.sd-pj-block .sd-pj-content-block .sd-pj-itemblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
@media screen and (max-width: 800px) {
  .sd-pj-block .sd-pj-content-block .sd-pj-itemblock {
    width: 100%;
  }
  .sd-pj-block .sd-pj-content-block .sd-pj-itemblock h2 {
    text-align: center;
  }
}
.sd-pj-block .sd-pj-content-block .sd-pj-itemblock img {
  max-width: 500px;
  width: 100%;
  border-radius: 0%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 150px;
  height: 100%;
}
@media screen and (max-width: 800px) {
  .sd-pj-block .sd-pj-content-block .sd-pj-itemblock img {
    height: 100vh;
    max-height: 300px;
  }
}
.sd-pj-block .sd-pj-content-block .sd-pj-itemblock span {
  font-weight: bold;
}

.skill-block {
  padding: 0 40px 80px 40px;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .skill-block h1,
  .skill-block h2 {
    text-align: center;
  }
  .skill-block ul {
    padding-left: 45%;
  }
}
.skill-block h1,
.skill-block h2,
.skill-block li {
  color: white;
}
.skill-block .skill-content-block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.skill-block .skill-content-block .skill-itemblock {
  flex: 1 1 calc(33.333% - 20px);
  min-width: 250px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .skill-block .skill-content-block .skill-itemblock {
    flex: 1 1 100%;
  }
}
.skill-block .skill-content-block .skill-itemblock h2 {
  padding-bottom: 10px;
  border-bottom: 2px solid;
}
.skill-block .skill-content-block .skill-itemblock ul {
  margin-top: 0;
  margin-bottom: 0;
}/*# sourceMappingURL=all.css.map */