$phone-media: 800px;
$font-b-color: #2e406f;
$font-color: #333;
$font-g-color: rgb(85, 85, 85);

%content-block {
  width: 100%;
  // height: 20%;
  border-bottom: 2px solid #ffd9f9;
  padding-bottom: 40px;
  box-sizing: border-box;
  color: $font-color;

  h1,
  a {
    color: $font-b-color;
    // font-weight: normal;
    position: relative;
    cursor: pointer;
  }
  a:hover::after {
    content: attr(data-preview);
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    pointer-events: none;
  }
  h2 {
    font-weight: normal;
  }
  p,
  li {
    color: $font-g-color;
  }
}
@mixin phone {
  @media screen and (max-width: #{$phone-media}) {
    @content;
  }
}
@mixin basic-img($w, $br) {
  max-width: $w;
  width: 100%;
  border-radius: $br;
  object-fit: cover;
}

@mixin basic-flexbox($fd, $ai, $jc) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}
body {
  margin: 0 auto;
  @include basic-flexbox(column, center, center);
  font-family: "Archivo", "Noto Sans TC", "Noto Sans SC", "Noto Sans HK",
    "Noto Sans JP", "Noto Sans", "PingFang TC", "Microsoft JhengHei", "PMingLiU",
    "sans-serif";
}
.block {
  padding-left: 40px;
  padding-right: 40px;
}
.blue-block {
  // margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  background-color: $font-b-color;
  width: 100%;
}
.main-block {
  @include basic-flexbox(column, center, center);
}
.header-block {
  @include basic-flexbox(row, flex-start, center);
  @include phone {
    flex-direction: column;
    align-items: center;
    .header-content {
      @include basic-flexbox(column, center, center);
    }
  }
  @extend %content-block;

  .header-img {
    padding-right: 30px;
    padding-top: 30px;
    img {
      @include basic-img(300px, 50%);
    }
    @include phone {
      padding-right: 0;
      padding-top: 0;
    }
  }
  h1 {
    color: $font-color;
  }
  h2 {
    color: $font-b-color;
  }
  .contact-info-block {
    @include basic-flexbox(row, flex-start, flex-start);
    img {
      width: 20px;
    }
    a {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

.work-block {
  @extend %content-block;
  @include basic-flexbox(column, flex-start, center);
  @include phone {
    flex-direction: column;
    align-items: center;
  }
  .exp-block {
    @include basic-flexbox(row, flex-start, center);
    @include phone {
      flex-direction: column;
      align-items: center;
    }
    .exp-logo {
      padding-right: 30px;
      padding-top: 30px;
      @include phone {
        padding-right: 0;
        padding-top: 0;
      }
      img {
        @include basic-img(70px, 5%);
      }
    }
    h2 span {
      color: $font-b-color;
    }
    li a {
      font-weight: bold;
    }
  }
}

.edu-block {
  @extend %content-block;
  @include basic-flexbox(column, flex-start, center);
  @include phone {
    align-items: center;
  }
  .uni-block {
    @include basic-flexbox(row, flex-start, center);
    @include phone {
      flex-direction: column;
      align-items: center;
    }
    img {
      @include basic-img(70px, 5%);
    }
    h2 span {
      display: block;
      color: $font-b-color;
    }
  }
  .gra-pj-block {
    @include basic-flexbox(row, flex-start, center);
    @include phone {
      flex-direction: column;
      align-items: center;
    }
    iframe {
      padding-left: 10px;
      @include phone {
        aspect-ratio: 16/9;
        width: 100%;
        padding-left: 0;
      }
    }
    li span {
      font-weight: bold;
    }
  }
}
.reel-block {
  @extend %content-block;
  @include basic-flexbox(column, flex-start, center);
  @include phone {
    align-items: center;
  }
  .reel-content-block {
    @include basic-flexbox(row, flex-start, center);
    padding-right: 30px;
    padding-top: 30px;
    @include phone {
      flex-direction: column;
      padding-right: 0;
      padding-top: 0;
    }

    .reel-content {
      @include basic-flexbox(row, flex-start, center);
      @include phone {
        flex-direction: column;
        align-items: center;
        h2 {
          text-align: center;
        }
      }
      .reel-img {
        padding-right: 15px;
        @include phone {
          padding-right: 0;
        }
        img {
          @include basic-img(200px, 0%);
          @include phone {
            max-width: 500px;
          }
        }
      }

      h2 {
        margin: 0 auto;
      }
    }
  }
}
.sd-pj-block {
  @extend %content-block;
  @include basic-flexbox(column, flex-start, center);
  @include phone {
    align-items: center;
  }
  border-bottom: none;
  .sd-pj-content-block {
    @include basic-flexbox(row, flex-start, center);
    @include phone {
      flex-direction: column;
    }
    flex-wrap: wrap;
    .sd-pj-itemblock {
      @include basic-flexbox(column, center, center);
      width: 50%;
      @include phone {
        width: 100%;
        h2 {
          text-align: center;
        }
      }
      img {
        @include basic-img(500px, 0%);
        max-height: 150px;
        height: 100%;
        @include phone {
          max-height: 300px;
        }
      }
      span {
        font-weight: bold;
      }
    }
  }
}

.skill-block {
  width: 100vw;
  padding: 0 40px 20px 40px;
  box-sizing: border-box;
  width: 100%;
  @include phone {
    h1,
    h2 {
      text-align: center;
    }
    ul {
      padding-left: 45%;
    }
  }
  h1 {
    color: white;
  }

  .skill-content-block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .skill-itemblock {
      flex: 1 1 calc(33.333% - 20px);
      min-width: 250px;
      display: flex;
      flex-direction: column;

      @include phone {
        flex: 1 1 calc(100%);
      }

      h2 {
        padding-bottom: 10px;
        border-bottom: 2px solid;
        color: white;
      }
      ul {
        margin-top: 0;
        margin-bottom: 0;
      }
      li {
        color: white;
      }
    }
  }
}
